{% extends "base.html" %}

{%block title%}Madbot - Home{% endblock %}
{% block content %}
<h3>Intro</h3>
<li>This site keeps track of ideas discussed in Whatsapp group - GLStarters.</li>
<li></li>
<li>Doremon is a bot which listens to our converstions in whatsapp and whenever we</li>
<li>discuss ideas, it is going to write them down here in this website.</li>
<li></li>
<li>This project aims at creating a repository of the MAD ideas we come up with and</li>
<li>in time could guide any madster looking for some ideas.</li>

<h3>Best practices to format messages</h3>
<p>
<li>1) Always make sure that the '#' and the 'tag' are NOT seperated by a `space`</li>
<li></li>
<li>Example: user-1 - we should make kids #sing and #dance this weekend to celebrate Valentine's day.</li>
</p>

<p>
 <li>2) When introducing an idea try to come up with an appropriate 'tag' and</li>
 <li>when discussing on the same idea try to consistently use the same tag.</li>
<li></li>
<li>Example: user-2 - #sing is a nice idea. we should go for ARR songs!</li>
</p>
<h3>Contribute</h3>
<li>This project is in its infancy and could develop beautifully.</li>
<li>Please contribute your ideas in developing the project. Programmers and designers, you can just
<li>start working on your ideas by creating a github account and forking <a href="https://www.github.com/neotheicebird/doremon">Doremon</a></li>
<li></li>
<li>For more details contact Toptap.</li>

{% endblock %}
